@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

a {
  text-decoration: none;
  color: rgb(86, 86, 86);
}

li {
  list-style: none;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.hleft-links, .hright-links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.content {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.footer {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  gap: 16px;
  padding: 16px;
  background-color: #eeeeee;
}

.left-links, .right-links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 16px;
}